{% extends "main.html" %}
{% load static %}
{% block body %}
    <a href="{% url "seller_create_order" cart.cart_code %}" class="btn btn-primary btn-lg btn-block w-100 p-2 mb-3" style="margin-left: 0">Add Order</a>
    {% if cart.order_set %}

        {# display the total of orders and cart #}
        <div class="card mb-3 text-white bg-steel">
            <div class="card-body">
                <h5>Number of Orders : {{ cart.order_set.count }}</h5>
                <h5>Total Cost : {{ cart.total_price }}</h5>
            </div>
        </div>

        {% for order in cart.order_set.all %}

            <div class="card mb-4">
                <h5 class="card-header">order {{ forloop.counter }}</h5>
                <div class="card-body">
                    <h5 class="card-title ml-0">Name : {{ order.product.name }}</h5>
                    <h5 class="card-title mr-3">Size : {{ order.product.size }}</h5>
                    <h5 class="card-title mr-3">Quantity : {{ order.quantity }}</h5>
                    <h5 class="card-title mr-3">Total for this order : {{ order.total_for_order }}</h5>
                    <h6 class="card-text">product code : {{ order.product.product_code }}</h6>
                    <!-- Confirmation button code -->
                    <a href="{% url "delete_order" order.id forloop.counter%}" class="btn btn-danger">Delete</a>
                </div>
            </div>

        {% endfor %}

        <a href="{% url "check_out" cart.cart_code%}" class="btn btn-success btn-lg btn-block w-100 p-2 mb-3" style="width: 100%;">Check Out</a>

        <a href="{% url "delete_cart" cart.cart_code%}" class="btn btn-danger btn-lg btn-block w-100 p-2 mb-3" style="margin-left: 0">Cancel All Orders</a>

    {% endif %}

{% endblock %}


        <div class="form-control mb-3">
            <label for="isFinished">is Finished ? </label>
            <input id="isFinished" type="checkbox" name="Finished" value="yes">
        </div>