{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}

    {% if current_user.user_type == 0 %}
        <a href="{% url 'admin_panel' %}" class="btn btn-lg btn-block w-100 mb-3 btn-outline-success">Admin Panel</a>
    {% else %}
        <a href="{% url 'home_page' %}" class="btn btn-lg btn-block w-100 mb-3 btn-outline-success">Home Page</a>
    {% endif %}
    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-success btn-lg btn-block link-home-page p-2 mb-3 mt-3" style="margin-left: 0">Save</button>
            </fieldset>
        </form>
    </div>


{% endblock %}