{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}
    <script type="text/javascript" src="{% static 'JS/ajax_statistics.js' %}"></script>
    <a href="{% url "all_orders_created" cart.cart_code%}" class="btn btn-success w-100 p-2 mb-4" style="width: 100%;">Return to Check Out</a>


    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Order</button>
                </div>

            </fieldset>
        </form>
    </div>

    <script>
        // Assuming you have a select field with id "id_size" in your HTML template
            var sizeField = document.getElementById('id_size');

            // Attach an event listener to the "product" field change event
            document.getElementById('id_product').addEventListener('change', function() {
                // Clear the existing options in the size field
                sizeField.innerHTML = '';

                // Fetch the selected product ID
                var productId = this.value;

                // Send an AJAX request to the server to get sizes for the selected product
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/store/seller/get_sizes/?product_id=' + productId, true);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // Parse the JSON response
                        var response = JSON.parse(xhr.responseText);

                        // Loop through the sizes and append new options
                        response.sizes.forEach(function(size) {
                            var option = document.createElement('option');
                            option.text = size["size_name"];
                            option.value = size["size_id"];
                            sizeField.add(option);
                        });
                    } else {
                        // Handle error, if any
                        console.error('Error: ' + xhr.statusText);
                    }
                };
                xhr.send();
            });

    </script>
{% endblock %}