{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}
    <script type="text/javascript" src="{% static 'JS/custom_main.js' %}"></script>
    <a href="{% url "all_orders_created" cart.cart_code%}" class="btn btn-success w-100 p-2 mb-4" style="width: 100%;">Return to Check Out</a>


    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Order</button>
                </div>

            </fieldset>
        </form>
    </div>

    <script>
        function change_sizes() {
            try {
                let sizes_field = document.getElementById("id_size");
                let product_field = document.getElementById("id_product");
                console.log(product_field)
                console.log(sizes_field);
                console.log(product_field);
            }
            catch (e){
                console.log(e);
            }
        }
    </script>

{% endblock %}