{% extends "main.html" %}
{% block body %}
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                    <h5>Delete Confirmation for "{{ object_name }}"</h5>
                    <hr>
                    <p class="text-danger">Are You Sure That You Want To Delete {{ object_name }}
                        {% if afterObjName %}
                            {{ afterObjName }}
                        {% endif %} ?
                    </p>
                {% if anotherText %}
                    <p>{{ anotherText }}</p>
                {% endif %}
                    <a class="btn btn-secondary btn-block" href="{% url "all_orders_created" cart_code%}">Cancel</a>
                    <button class="btn btn-danger btn-block" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


