{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url 'home_page' %}" class="btn btn-outline-success w-100 p-2 mb-4" style="width: 100%;">Home Page</a>
    <div class="container">
        <div class = "content-section">
            <form method="post" action="" novalidate>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Search For Cart With Code</legend>
                        {{ form|crispy }}
                        <div class = "form-group">
                            <button class="btn btn-primary w-100 mt-3" type="submit">Check</button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}


            <form method="post" action="" novalidate>
                {% csrf_token %}

                    {{ form|crispy }}


            </form>