{% extends "main.html" %}
{% block body %}
    {% if orders_in_cart %}
        {% for order in orders_in_cart %}
            <div class="card mb-4">
                <h5 class="card-header">order {{ forloop.counter }}</h5>
                <div class="card-body">
                    <h5 class="card-title ml-0">Name : {{ order.product.name }}</h5>
                    <h5 class="card-title mr-3">Size : {{ order.product.size }}</h5>
                    <h5 class="card-title mr-3">Quantity : {{ order.quantity }}</h5>
                    <h6 class="card-text">product code : {{ order.product.product_code }}</h6>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}

<div class="div-order-ca">
                {{ order.product.name }}
                <br>
                {{ order.product.size }}
                <br>

                {{ order.product.product_code }}
                <br>

                {{ order.total_for_order }}
            </div>
