{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'Invoice/invoice.css' %}">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
  </head>

  <body>
    <h1>Invoice</h1>

    <aside>
      <address id="from">
        WeasyPrint
        26 rue Emile Decorps
        69100 Villeurbanne
        France
      </address>

      <address id="to">
        Our awesome developers
        From all around the world
        Earth
      </address>
    </aside>

    <dl id="informations">
      <dt>Invoice number</dt>
      <dd>12345</dd>
      <dt>Date</dt>
      <dd>March 31, 2018</dd>
    </dl>

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Size</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for order in cart.order_set.all %}
          <tr>
            <td>{{order.product.product_detail.product_code}}</td>
            <td>{{order.product.price_for_branch}}</td>
            <td>{{order.size}}</td>
            <td>{{order.quantity}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="total">
      <thead>
        <tr>
          <th>Due by</th>
          <th>Account number</th>
          <th>Total due</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{cart.created_at}}</td>
          <td>{{cart.cart_code}}</td>
          <td>{{cart.total_price}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>