{% load static %}
<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Invoice</title>

  <link rel="stylesheet" href="{% static 'css/invoice.css' %}">

  <link rel="icon" type="image/x-icon" href="{% static 'MarioLogo.ico' %}">
</head>
<body>
  <div class="page-container">
    Page
    <span class="page"></span>
    of
    <span class="pages"></span>
  </div>

  <div class="logo-container">
    <img style="height: 80px" src="{% static 'MarioLogo.png' %}">
  </div>

  <table class="invoice-info-container">
    <tr>
      <td>
        Invoice No: <strong>{{cart.cart_code}}</strong>
      </td>
    </tr>
    <tr>
      <td>Invoice Date: <strong>{{cart.created_at|date:"F jS, Y" }}</strong> </td>
    </tr>
  </table>


  <table class="line-items-container">
    <thead>
      <tr>
        <th class="heading-quantity">Qty</th>
        <th class="heading-description">Product Name</th>
        <th class="heading-price">Price</th>
        <th class="heading-subtotal">Subtotal</th>
      </tr>
    </thead>
    <tbody>
    {% for order in cart.order_set.all %}
     <tr>
        <td>{{order.quantity}}</td>
        <td>{{order.product.product_detail.name}}</td>
        <td class="right">{{order.product.price_for_branch}}</td>
        <td class="bold">{{order.total_cost_for_order}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  <table class="line-items-container has-bottom-border">
    <thead>
      <tr>
        <th>Payment Info</th>
        <th>Due By</th>
        <th>Total Due</th>
        <th>Branch Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="payment-info">
          <div>
            User Create Orders: <strong>{{current_user.username}}</strong>
          </div>
        </td>
        <td class="large">{{cart.due_by|date:"F jS, Y" }}</td>
        <td class="large total">{{cart.total_price}}</td>
        <td>
          <strong>{{cart.branch.name}}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>