{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url "display_all_products_details" %}" class = "btn btn-success w-100 mb-3" >Return To All Products</a>
    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Product Details</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Save</button>
                </div>

            </fieldset>
        </form>
    </div>


{% endblock %}