{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url "home_page" %}" class="btn btn-success w-100 p-2 mb-4" style="width: 100%;">Return to Home Page</a>

    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ process_name }} New Product In {{ branch.name }}</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">{{ button_name }}</button>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}