{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url 'home_page' %}" class="btn btn-outline-success w-100 p-2 mb-4" style="width: 100%;">Home Page</a>
    <a href="{% url 'display_all_products_in_branch' branch.id %}" class="btn btn-outline-secondary w-100 p-2 mb-4" style="width: 100%;">Display All Products In Branch</a>

    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ process_name }} Product In {{ branch.name }}</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-primary w-100" type="submit">{{ button_name }}</button>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}