{% extends "main.html" %}
{% load static %}
{% block body %}
    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Product Details</legend>

                {% for field in form %}
                    <div class="form-group">
                        <label class="label">{{ field.label }}</label>
                        {% if field.errors %}
                            <div class = "form-control is-invalid">{{ field.label }}</div>
                            <div class = "invalid-feedback">
                                {% for error in field.errors %}
                                    <span> {{ error }} </span>
                                    <br>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class = "form-control">{{ field.as_widget }}</div>
                        {% endif %}
                    </div>
                {% endfor %}


                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Save</button>
                </div>

            </fieldset>
        </form>
    </div>


{% endblock %}