    <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color: rgba(0,0,0,0.7)">
                <div class="container">
                      <a class="navbar-brand mr-4" href="#">Home Page</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarToggle">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Change Password</a>
                                        <a class="dropdown-item" href="#">Change Personal Info</a>
                                            <a class="dropdown-item" href="#">Admin Panel</a>
                                    <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </div>
                            <div class="navbar-nav mr-auto">
                            </div>
              </div>
            </div>
          </nav>
        </header>