
<sidebar>
    <div class="col-md-4">
        <div class="content-section">
            <h3>recently</h3>
            <p class='text-muted'>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <div class="d-flex w-100 justify-content-between">
                            <small>2022/4/1</small>
                        </div>
                        <div class="mb-1">
                            Notification Name
                        </div>
                    </li>
                    <br>
                    <a href="#"><p class="text-muted">All Notification</p></a>
                </ul>
            </p>
        </div>
    </div>
</sidebar>