{% extends "main.html" %}
{% block body %}
    <div class="container">

        <br>
        <a href="{% url "display_all_carts" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">All Sales</div>
        </a>

        <br>
        <a href="{% url "show_statistics" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Show Statistics</div>
        </a>

        <br>
        <a href="{% url "display_all_products_details" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">All Products</div>
        </a>

        <br>
        <a href="{% url "add_new_user" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Add New User</div>
        </a>

        <br>
        <a href="{% url "display_all_branches" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">All Branches</div>
        </a>

        <br>
        <a href="{% url "display_all_sizes" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">All Sizes</div>
        </a>

        {% if user.is_staff %}

            <br>
            <a href="{% url 'settings' %}">
                <div class="btn btn-primary btn-lg btn-block link-home-page">Settings</div>
            </a>
        
        {% endif %}
    </div>
{% endblock %}