{% extends "main.html" %}
{% block body %}
    <div class="container">

        <a href="">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Today's Sales</div>
        </a>

        <br>
        <a href="">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Sales for Specific Day</div>
        </a>

        <br>
        <a href="">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Show Statistics</div>
        </a>

        <br>
        <a href="">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Open A New Branch</div>
        </a>

        <a href="{% url "product_manage" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Products Manage</div>
        </a>

        <a href="{% url "add_new_user" %}">
            <div class="btn btn-primary btn-lg btn-block link-home-page">Add New User</div>
        </a>

    </div>
{% endblock %}