{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url "display_all_products_details" %}" class = "btn btn-success w-100 mb-3" >Return To All Products</a>
    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ process_name }} Product Details</legend>

                {{ form|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Save</button>
                </div>

                {% if process_name == "Edit" %}
                    <br>
                    <div class = "form-group">
                        <a href="{% url "edit_product_code" product_details.id %}" class = "btn btn-outline-secondary w-100">Change Product Code</a>
                    </div>
                {% endif %}


            </fieldset>
        </form>
    </div>


{% endblock %}