{% load crispy_forms_filters %}
{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Store App</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="page-container" class="col-md-8 mx-md-auto m-4">
        {% block include_navbar %}
            {% include "navbar.html" %}
        {% endblock %}

        <div id="content-wrap">
            <div class="row">
                <div class="col">

                    {# flash message #}
                    {% if messages %}
                        {% for message  in messages %}
                            <div class = "alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {# page title #}
                    {% if page_title %}
                        <div class = "page-header">
                            <h2>{{ page_title }}</h2>
                        </div>
                        <br>
                    {% endif %}

                    <div class="page-body">
                        <a href="{% url 'admin_panel' %}" class="btn btn-outline-success btn-lg btn-block w-100 p-2 mb-3" style="margin-left: 0">Admin panel</a>
                        {% if total_money_entered %}
                            {# display the total money entered #}
                            <div class="card mb-3 text-white bg-steel">
                                <div class="card-body">
                                    <h5>total money : {{ total_money_entered }}</h5>
                                </div>
                            </div>
                        {% endif %}
                        <br>
                        <div class="form_carts d-flex flex-column-reverse flex-md-row" style="justify-content: space-between">
                            <div class="all_carts col-md-8">
                                {% if carts %}
                                    {% for cart in carts %}
                                        <div class="cart_with_order">
                                            <div class="card mb-2" style="background-color:#1c1e1f; z-index: 20;">
                                                <h5 class="card-header">{{ forloop.counter }}- Cart : {{ cart.cart_code }} <span class="mr-5">{{ cart.created_by.branch }}</span> </h5>
                                                <div class="card-body">
                                                    <h5 class="card-title ml-0">Total Cost : {{ cart.total_price }}</h5>
                                                    <h5 class="card-title ml-0">Total Orders : {{ cart.order_set.count }}</h5>
                                                    <h6 class="card-text">Created At : {{ cart.created_at }}</h6>
                                                    {% if cart.edit_at %}
                                                        <h6 class="card-text">Edit At : {{ cart.edit_at }}</h6>
                                                    {% endif %}
                                                    <h6 class="card-text">Discount : {{ cart.discount }}</h6>
                                                    <div class="d-flex mt-3" style="justify-content: space-between; align-items: center;">
                                                        <a href="{% url 'delete_cart' cart.cart_code 'AllCarts'%}" class="btn btn-danger">Delete</a>
                                                        <div onclick="f({{ cart.cart_code }})" style="display: flex; justify-content: center; align-items: center
                                                        ;height: 30px; width: 30px; border-radius: 50%; border: 1px solid #383d3f; cursor: pointer">
                                                            <i class="fa-solid fa-arrow-right" id="button_{{ cart.cart_code }}"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if cart.order_set %}
                                                <div class="card mb-4 col-md-9" hidden id="{{ cart.cart_code }}" style="margin-left: 0; position: relative; margin-left: auto;">
                                                {% for order in cart.order_set.all %}
                                                    <h5 class="card-header">order {{ forloop.counter }}</h5>
                                                    <div class="card-body">
                                                        <h5 class="card-title ml-0">Name : {{ order.product.product_detail.name }}</h5>
                                                        <h5 class="card-title mr-3">Quantity : {{ order.quantity }}</h5>
                                                        <h5 class="card-title mr-3">Total for this order : {{ order.total_cost_for_order }}</h5>
                                                        <h6 class="card-text">product code : {{ order.product.product_detail.product_code }}</h6>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="card mb-4">
                                        <p class="text-light m-2">No Cards Found</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="class_form col-md-3 mr-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card card-body">
                                                <form method="get">
                                                    {{ cart_filter.form|crispy }}
                                                    <button class="btn btn-primary btn-block w-100 p-2 mb-3" type="submit">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

    <script>
        function f(id) {
            try {
                id = id.id;
                let ordersDiv = document.getElementById(id);
                let button = document.getElementById('button_'+ id)
                if (ordersDiv.hidden){
                    ordersDiv.hidden = false;
                    button.className = "fa-solid fa-arrow-down";
                } else {
                    button.className = "fa-solid fa-arrow-right";
                    ordersDiv.hidden = true;
            }
          } catch (e) {
            console.log(e);
          }
}
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>