{% extends 'main.html' %}
{% block head %}
    <style>
        tr:hover {
          cursor: pointer;
        }
  </style>
{% endblock %}
{% block body %}
    <a href="{% url 'admin_panel' %}" class="btn btn-outline-success btn-lg btn-block w-100 p-2 mb-3" style="margin-left: 0">Admin Panel</a>

    <table class="table table-hover table-dark" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">UserName</th>
                <th scope="col">User Permision</th>
                <th scope="col">Branch</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Age</th>
                <th scope="col">National ID</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            {% if current_user.username == user.username %}
                <tr data-href="{% url 'get_user' user.id %}" style="color: red;">
            {% else %}
                <tr data-href="{% url 'get_user' user.id %}">
            {% endif %}

                <td>{{forloop.counter}}</td>

                <td>{{user.username}}</td>

                {% if user.user_type == 0 %}
                    <td>Admin</td>
                {% elif user.user_type == 1 %}
                    <td>Manager</td>
                {% elif user.user_type == 2 %}
                    <td>Seller</td>
                {% endif %}

                {% if user.branch %}
                    <td>{{user.branch}}</td>
                {% else %}
                    <td>All</td>
                {% endif %}

                {% if user.salary %}
                    <td>{{user.salary}}</td>
                {% else %}
                    <td>No Salary</td>
                {% endif %}

                {% if user.phone_number %}
                    <td>{{user.phone_number}}</td>
                {% else %}
                    <td>No Phone Number</td>
                {% endif %}

                {% if user.age %}
                    <td>{{user.age}}</td>
                {% else %}
                    <td>Not Found</td>
                {% endif %}

                {% if user.national_id %}
                    <td>{{user.national_id}}</td>
                {% else %}
                    <td>Not Found</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let table = document.getElementById('myTable');
            let rows = table.getElementsByTagName('tr');
            for (let i = 0; i < rows.length; i++) {
                rows[i].addEventListener('click', function(e) {
                    let href = this.getAttribute('data-href');
                    if (href) {
                        window.location.href = href;
                    }
                });
            }
        });
  </script>
{% endblock %}