{% extends 'main.html' %}
{% block body %}
    <table class="table table-hover table-dark">
        <thead>
        <div>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">UserName</th>
                <th scope="col">User Permision</th>
                <th scope="col">Branch</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Age</th>
                <th scope="col">National ID</th>
            </tr>
        </div>
        </thead>
        <tbody>

<!--         <a href=""></a>-->

        {% for user in users %}
            <a href="{% url 'get_user' user.id %}">
                <div>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.user_type}}</td>
                        {% if user.branch %}
                            <td>{{user.branch}}</td>
                        {% else %}
                            <td>All</td>
                        {% endif %}

                        {% if user.salary %}
                            <td>{{user.salary}}</td>
                        {% else %}
                            <td>No Salary</td>
                        {% endif %}

                        {% if user.phone_number %}
                            <td>{{user.phone_number}}</td>
                        {% else %}
                            <td>No Phone Number</td>
                        {% endif %}

                        {% if user.age %}
                            <td>{{user.age}}</td>
                        {% else %}
                            <td>Not Found</td>
                        {% endif %}

                        {% if user.national_id %}
                            <td>{{user.national_id}}</td>
                        {% else %}
                            <td>Not Found</td>
                        {% endif %}

                    </tr>
                </div>
            </a>
        {% endfor %}
        </tbody>
    </table>
    <!--pagination-->
<!--    {% for page_num in buyers_pagination.iter_pages(left_edge= 1, right_edge = 1, left_current = 1, right_current= 2) %}-->
<!--        {% if page_num %}-->
<!--            {% if page_num == buyers_pagination.page %}-->
<!--                <a class="btn btn-info mb-4" href="{{ url_for("buyer.buyers_display", page = page_num) }}">{{ page_num }}</a>-->
<!--            {% else %}-->
<!--                <a class="btn btn-outline-info" href="{{ url_for("buyer.buyers_display", page = page_num) }}">{{ page_num }}</a>-->
<!--            {% endif %}-->
<!--        {% else %}-->
<!--            ...-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
{% endblock %}