{% extends "main.html" %}
{% load crispy_forms_filters %}
{% block body %}
    <a href="{% url "admin_panel" %}" class="btn btn-outline-success btn-lg btn-block w-100 p-2 mb-3" style="margin-left: 0">Admin Panel</a>

    <div class = "content-section">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>

                {{ form_user|crispy }}
                {{ form_seller|crispy }}

                <div class = "form-group">
                    <button class = "btn btn-outline-primary w-100" type="submit">Save</button>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}