{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Store App</title>
    {% endif %}


    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'MarioLogo.ico' %}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'JS/ajax_statistics.js' %}"></script>
</head>
<body>

    <div id="page-container">

        {% block include_navbar %}
            {% include "navbar.html" %}
        {% endblock %}

        <div id="content-wrap">
            <main role="main" class="container">
                <div class="row" >
                    <div class="col-md-8">

                        {# flash message #}
                        {% if messages %}
                            {% for message  in messages %}
                                <div class = "alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {# page title #}
                        {% if page_title %}
                            <div class = "page-header">
                                <h2>{{ page_title }}</h2>
                            </div>
                            <br>
                        {% endif %}
                        <div class="page-body">
                            <div class="row">
                                {% if user_site.is_site_admin %}
                                    <a href="{% url 'admin_panel' %}" class="btn btn-outline-success btn-lg btn-block w-100 p-2" style="margin-left: 0; margin-top: 4em;">Admin Panel</a>
                                {% elif user_site.is_branch_manager %}
                                    <a href="{% url 'admin_panel' %}" class="btn btn-outline-success btn-lg btn-block w-100 p-2" style="margin-left: 0; margin-top: 4em;">Manager panel</a>
                                {% endif %}

                                {# statistics view #}
                                <div class="col-12">

                                    <div id="myPlot"></div>
                                </div>
                            </div>
                            <div class="row">
                                {# choose way to make statistics #}
                                <div class="col-12">
                                    <select class="form-select w-100" aria-label="Default select example" onchange="make_choose_specific_function()" id="select_statistics_by">
                                        <option value="0" selected>--------</option>
                                        <option value="1">From Year To Another</option>
                                        <option value="2">With Specific Year</option>
                                        <option value="3">With Specific Month And Year</option>
                                        <option value="4">With Specific Day and Month And Year</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-9" id="choose_the_specific">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        {# to display the empty plot when the user is come #}
        window.onload = create_empty_plot;

        let myDiv = document.getElementById("choose_the_specific");
        function make_choose_specific_function(){
            let select_element = document.getElementById("select_statistics_by");
            myDiv.innerHTML = "";
            select_the_date(select_element, myDiv);
        }
    </script>
</html>