{% extends "main.html" %}
{% block body %}
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                    <h5>Delete Confirmation for "Size With Name {{ size.name }}"</h5>
                    <hr>
                    <span class="text-danger">Note That : </span> <span>If You Delete This Size, All Products in All Branches That Has This Size Will Delete This Size From Them!!</span>
                    <p>You can Edit It If You Want From Display All Sizes Page</p>
                    <p>Are You Sure That You Want To Delete This Size ?</p>
                    <a class="btn btn-secondary btn-block" href="{% url 'display_all_sizes' %}">Cancel</a>
                    <button class="btn btn-danger btn-block" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


